<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg"%>
    </div>

    <div id="content">
        <h1>It's Doris & David</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque purus non turpis rutrum, 
        dignissim vulputate justo molestie. Aenean interdum vitae mauris ut tempus. Aenean condimentum risus non mi rutrum ultricies. 
        Morbi ligula ligula, sollicitudin ac lectus eget, posuere eleifend massa. Morbi malesuada tempor purus id placerat. 
        Ut ullamcorper finibus auctor. Praesent mi ante, pellentesque ut accumsan et, gravida et turpis. 
        Sed consectetur porttitor imperdiet. Donec nec velit metus. Ut vitae pellentesque diam.</p>
    </div>

</div>